@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body{
    animation: gradient 5s ease-in-out infinite;
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-size: 200% 200%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.informationPlayerContainer, .boardContainer, .wordBankContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.buttomsContainer{
    display: flex;
    width: 100%;
    padding: 1vw;
    justify-content: center;
}
.informationPlayerContainer{
    height: 15vh;
    flex-direction: row;
    align-items: center;
}

.boardContainer{
    height: 40vh;
    align-items: center;
}

.wordBankContainer{
    height: 30vh;
}

.clockContainer{
    display: flex;
    background-color: white;
    height: 10vh; 
    align-items: center;
    justify-content: center;
    border-radius: 1.5vh;
    opacity: 0.8;
    margin: 2vh;
    display: flex;
}
.playerContainer{
    display: flex;
    background-color: white;
    height: 10vh; 
    align-items: center;
    justify-content: center;
    border-radius: 1.5vh;
    opacity: 0.8;
    margin: 2vh;
    display: flex;
}
 .scoreContainer{
    display: flex;
    background-color: white;
    height: 10vh; 
    align-items: center;
    justify-content: center;
    border-radius: 1.5vh;
    opacity: 0.8;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: .9vw;
    text-align: center;
}
.playerContainer {
    width: 14%;
}

.clockContainer {
    width: 14%;
    font-size: 1vw;
    
}


.boggle-board {
    text-align: center;
    height: 40vh;
    width: 72.5%;
    background-color: white;
    border-radius: 1.5vh;
    opacity: 0.8;
}

.player{
    font-family: 'Tilt Neon', cursive;
    color: black;
    font-size: 1vw;
}

.text{
    margin: 0.8vw;
}

.clockContainer div, .scoreContainer div{
    font-family: 'Tilt Neon', cursive;
    letter-spacing: 0.3vw;
}

.boggle-board {
    text-align: center;
    font-size: .9vw;
    height: 100%;
    width: 72.5%;
    background-color: white;
    border-radius: 1.5vh;
    opacity: 0.8;
}
table.boggle-board td button {
    width: 90%;
    height: 90%;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
    border: none;
    font-family: 'Tilt Neon', cursive;
    
    font-weight: bold;
    font-size: 1em; /* Ajusta esto según sea necesario */
}
  
table.boggle-board td button:hover {
    background-color: #e6e6e6;
}
  
table.boggle-board td button.seleccionado {
    background-color: rgb(208, 208, 208);
}

.boggle-board button.correcto {
    animation: flash 2s ease-in-out;
    background-color: rgb(121, 231, 121);
}

.boggle-board button.incorrecto {
    background-color: rgb(235, 107, 143);
}

/* .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    color: green;
} */

.wordBankContainer {
    margin: 2vh auto 0;
    width: 72.5%;
    height: 25vh;
    border-radius: 1.5vh;
    background-color: white;
    opacity: .8;
    overflow-y: auto;
}
  
.score {
    width: 100%;
}

.score th, .score td {
    padding: 1.5vh;
    text-align: center;
    font-family: 'Tilt Neon', cursive;
    width: 33.33%;
}

.score th {
    color: black;
}

.score tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


.playerContainer.turn1 {
    background-color: #f791a1;
}

.playerContainer.turn2 {
    background-color: #f0e688;
}

.playerContainer.gameover {
    background-color: rgb(253, 184, 131);
}

@keyframes blink {
    0% {background-color: white;}
    50% {background-color: rgb(186, 93, 186);}
    100% {background-color: white;}
}

.clockContainer.blink {
    animation: blink 1s infinite;
}