@import url("https://fonts.googleapis.com");
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Source+Code+Pro:wght@500&display=swap');
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
	background: #ffed94;
	height: 100%;
    width: 100%;
	display: flex;
    flex-direction: column;
}
h2{
	font-family: 'Tilt Neon';
}
h3{
	font-family: 'Tilt Neon';
}
.TitleContainer{
	width: 100%;
	height: 55%;
	display: flex;
	align-items: center;
	justify-content: center; 
}

.BottomContainer{
	/* background: white; */
	height: 45%;
	display: flex;
  align-items: start;
  justify-content: center;
}

h1 {
	font-family: 'Bungee Shade', cursive;
	display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: normal;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 16vw;
	background: linear-gradient(
		-45deg,
		#4bc0c8 25%,
		#feac5e 25%,
		#feac5e 50%,
		#4bc0c8 50%,
		#4bc0c8 75%,
		#feac5e 75%,
		#feac5e
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 20px 20px;
	background-position: 0 0;
	animation: stripes 1s linear infinite;
}

@keyframes stripes {
	100% {
		background-position: 20px 0;
	}
} 
/* Botón */
*,
*::before,
*::after {
  box-sizing: inherit;
}

.corner-button {
	font-family: 'Bungee Shade', cursive;
  letter-spacing: 0.02rem;
  cursor: pointer;
  background: transparent;
  border: 0.5rem solid currentColor;
  padding: 1.5rem 2rem;
  font-size: 2.6rem;
  color: #4bc0c8;
  position: relative;
  transition: color 0.3s;
  z-index: 1;
}

.corner-button:hover {
  color: #feac5e;
}

.corner-button:hover::before {
  width: 0;
}

.corner-button:hover::after {
  height: 0;
}

.corner-button:active {
  border-width: 0.25rem;
}

.corner-button::before,
.corner-button::after {
  content: "";
  position: absolute;
  background: #ffed94;
  z-index: -1;
  transition: all 0.3s;
}

.corner-button::before {
  width: calc(100% - 3rem);
  height: calc(101% + 1rem);
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.corner-button::after {
  height: calc(100% - 3rem);
  width: calc(101% + 1rem);
  left: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

/* Ventana Emergente */
.modal {
	align-items: center;
	justify-content: center;
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	backdrop-filter: blur(5px); /* Desenfoque del fondo */
}

.modal-content {
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	position: absolute; /* posiciona el elemento de manera absoluta respecto a su contenedor más cercano con posición no estática */
	top: 50%; /* posiciona el borde superior del elemento al 50% desde la parte superior del contenedor */
	left: 50%; /* posiciona el borde izquierdo del elemento al 50% desde la parte izquierda del contenedor */
	transform: translate(-50%, -50%); /* desplaza el elemento hacia arriba y hacia la izquierda en un 50% de su propio tamaño, efectivamente centrando el elemento */
	width: 40%;
	height: 40%;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
	.close:hover,
	.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
	font-family: 'Tilt Neon';
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}

.user-details .input-box input{
	font-family: 'Tilt Neon';
    height: 50px;
    width: 35%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

	margin-bottom: 10px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6
}