
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1{
    font-family: 'Satisfy', cursive;
}

*{
  margin: 0;
  padding: 0;
}
body{
  /* padding: 10px;  */
  display: flexl;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  /* background: #000; */
  overflow: hidden;
  background: linear-gradient(135deg, #c8efcc, #f0cbb1);
}

.general-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
} 

.title-container{
  height: 10vh;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-general-container{
  /* background-color:#000000 ; */
  flex-grow: 1;
  display: flex;
}
.left-column {

  width: 50%;
  height: 100%;
  /* background-color: #2b6630; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  */
}

.right-column {

  width: 50%;
  height: 100%;
  /* background-color: #ec7928; */
  display: flex; 
  flex-direction: column;
  /*align-items: center; 
  justify-content: center; */
}

/* .row-up {
  background-color: #943f3f;
  height: 50%;
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
} */


.row-up {
  /* background-color: #943f3f; */
  height: 600px; /* establece un alto fijo */
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding: 2em; /* agrega el relleno deseado */
}

.row-down {
  
  /* background-color: #f80000; */
  height: 50%;
  width: 100%; 
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 2em;

}


  .boggle-board {
  background-color: white;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 20px auto 0;
  font-size: 24px; 
  border-radius: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
  
/* .boggle-cell {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 0 3px rgba(30, 30, 30, 0.357);
  transition: background-color 0.2s ease-in-out;
  font-family: 'Tilt Neon', cursive;
}
  
.boggle-cell:hover {
  background-color: #d3d3d3;
} */

.score {
  padding: 2em;
  max-width: 1125px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}



.score th, .score td {
  padding: 15px;
  text-align: center;
  font-family: 'Tilt Neon', cursive;
} 

.score th {
  /* background-color: #333; */
  color: black;
}

.score tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.glowing{
  position: relative;
  width: 750px;
  height: 750px;
}

.glowing span{
  position: absolute;
  top: calc(80px *var(--i));
  left: calc(80px *var(--i));
  right: calc(80px *var(--i));
  bottom: calc(80px *var(--i));
}

table.boggle-board td {
  width: 50px;
  height: 50px;
  font-family: 'Tilt Neon', cursive;

}
table.boggle-board td button {
  width: 50px;
  height: 50px;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
  border: none;
  font-family: 'Tilt Neon', cursive;
  font-weight: bold;
}

table.boggle-board td button:hover {
  background-color: #e6e6e6;
}

table.boggle-board td button.seleccionado {
  background-color: darkgray;
}
