{% load static %}
<head>
    <meta name = "viewport" content ="width=device-width, initial scale=1.0">
    <title>348713_SOSA</title>
    <link rel = "stylesheet" type = "text/css" href="{% static 'styles/boggle_board.css' %}">
</head>

<body>
    <div id="particles-js"></div>
    <div class = "general-container" >
        <!-- Contenedor 1 -->
        <div class = "title-container">
            <h1 id="playerTurn">Turno Del Jugador: 1</h1>
        </div>

        <div class = "information-player-container">
            <div class="clock">
                <span>Time: </span>
                <div id="minutes">
                    1
                </div>
                <span>:</span>
                <div id="seconds">
                    40
                </div>
            </div>
        </div>
        <div id="score"></div>
        <div class = "body-game-container">
            <!-- Tablero -->
            <table class="boggle-board">
                {% for row in board %}
                  <tr>
                    {% for cell in row %}
                      <td class="boggle-cell"><button>{{ cell }}</button></td>
                    {% endfor %}
                  </tr>
                {% endfor %}
            </table>
            <script>
                // Temporizador 
                // Temporizador
  window.onload = function() {
    var minutes = 1;
    var seconds = 40;
    var turn = 1;

    var playerTurnElement = document.getElementById("playerTurn");
    var minutesElement = document.getElementById("minutes");
    var secondsElement = document.getElementById("seconds");

    function startTimer() {
      seconds = 40;
      minutes = 1;

      var interval = setInterval(function() {
        seconds--;
        if (seconds < 0) {
          seconds = 59;
          minutes--;
        }

        minutesElement.textContent = minutes;
        secondsElement.textContent = seconds < 10 ? "0" + seconds : seconds;

        if (minutes === 0 && seconds === 0) {
          clearInterval(interval);
          turn = turn === 1 ? 2 : 1;
          playerTurnElement.textContent = "Turno Del Jugador: " + turn;
          alert("Turno del jugador " + turn);
          startTimer();
        }
      }, 1000);
    }
    startTimer();
  };
                // Seleccionar Casillas
                const botones = document.querySelectorAll('.boggle-board button');
                let letrasSeleccionadas = '';
                let seleccionando = false;
                botones.forEach(boton => {
                boton.addEventListener('mousedown', () => {
                    letrasSeleccionadas += boton.innerText;
                    seleccionando = true;
                    boton.classList.add('seleccionado');
                    console.log(letrasSeleccionadas);
                });

                boton.addEventListener('mouseenter', () => {
                    if (seleccionando) {
                    boton.classList.add('seleccionado');
                    letrasSeleccionadas += boton.innerText;
                    console.log(letrasSeleccionadas);
                    }
                });

                boton.addEventListener('mouseup', () => {
                    seleccionando = false;
                    botones.forEach(boton => {
                    });
                    if (letrasSeleccionadas !== '') {
                    
                        fetch('/verificar-existencia/' + letrasSeleccionadas)
                        .then(response => response.json())
                        .then(data => {
                        if (data.flag) {
                            console.log(data.flag);
                            console.log(data.score);
                            console.log(data.word);
                            botones.forEach(boton => {
                                if (boton.classList.contains('seleccionado')) {
                                    boton.classList.add('correcto');
                                    setTimeout(() => {
                                            boton.classList.remove('correcto');
                                        }, 500);
                                }
                                boton.classList.remove('seleccionado');
                            });
                       
                            const tabla = document.querySelector('.score tbody');
                            const fila = document.createElement('tr');
                            const celda = document.createElement('td');
                            celda.textContent = data.word;
                            fila.appendChild(celda);
                            tabla.appendChild(fila); 
                        } else {
                            console.log(data.flag);
                            botones.forEach(boton => {
                                if (boton.classList.contains('seleccionado')) {
                                    boton.classList.add('incorrecto');
                                    setTimeout(() => {
                                        boton.classList.remove('incorrecto');
                                    }, 1000);
                                }
                                boton.classList.remove('seleccionado');
                            });
                        }
                        })
                        .catch(error => {
                        console.error(error);
                        })
                        .finally(() => {
                        letrasSeleccionadas = '';
                        });
                    }
                    
                }
      
                );
                });
            </script>
            <!-- Score -->
            <table class = "score">
                <thead>
                  <tr>
                    <th>Banco De Palabras</th>
                  </tr>
                </thead>
                  <tbody>
                    
                    <tr>
                      <td></td>
                    </tr>
                  
                  </tbody>
            </table>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://kit.fontawesome.com/a2e8d0339c.js"></script>
</body>
</html>