{% load static %}
<head>
    <meta name = "viewport" content ="width=device-width, initial scale=1.0">
    <title>348713_SOSA</title>
    <link rel = "stylesheet" type = "text/css" href="{% static 'styles/table.css' %}">

</head>
<body>
<div class = "general-container" >
    <!-- Contenedor 1 -->
    <div class = "title-container">
        <h1>Boggle Game</h1>
    </div>
    <!-- Contenedor 2 -->
     <div class = "body-general-container">
    <!-- Columna 1 donde está el tablero -->
        <div class = "right-column">
            <!-- Fila 1-->
            <div class = "row-up">
                <table class="boggle-board">
                    {% for row in board %}
                        <tr>
                        {% for cell in row %}
                            <td class="boggle-cell">{{ cell }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class = "row-down">
                <table class = "score">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Puntuación</th>
                        <th>Fecha de la partida</th>
                        <th>Modo</th>
                        <th>Potenciadores</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>María</td>
                            <td>25</td>
                            <td>15/04/2023</td>
                            <td>Modo fácil</td>
                            <td>Ninguno</td>
                          </tr>
                          
                          <tr>
                            <td>Pedro</td>
                            <td>30</td>
                            <td>12/04/2023</td>
                            <td>Modo difícil</td>
                            <td>Velocidad</td>
                          </tr>
                          
                          <tr>
                            <td>Lucía</td>
                            <td>27</td>
                            <td>10/04/2023</td>
                            <td>Modo normal</td>
                            <td>Escudo, Vida extra</td>
                          </tr>
                    </tbody>
                  </table>
            </div>
            
            <!-- Fila 2-->  

           

        </div>
        <!-- Columna 2 donde está el la tabla de puntuacion tiempo -->
        <div class = "left-column">
            
        </div>

    </div>
</div>


</body>


