{% load static %}
<head>
    <meta name = "viewport" content ="width=device-width, initial scale=1.0">
    <title>348713_SOSA</title>
    <link rel = "stylesheet" type = "text/css" href="{% static 'styles/table.css' %}">

</head>
<body>
<div class = "genral-container" >
    <!-- Contenedor 1 -->
    <div class = "title-container">
        <h1>Boggle Board</h1>
    </div>
    <!-- Contenedor 2 -->
     <div class = "general-container">
        <!-- Tablero -->
        <table class="boggle-board">
            {% for row in board %}
                <tr>
                {% for cell in row %}
                    <td class="boggle-cell">{{ cell }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>


</body>
