<!-- ko foreach: Array(100) -->
{% load static %}
<head>
    <meta name = "viewport" content ="width=device-width, initial scale=1.0">
    <title>348713_SOSA</title>
    <link rel = "stylesheet" type = "text/css" href="{% static 'styles/main.css' %}">
    <script src="{% static 'js/myfn.js' %}"></script>
</head>


<div class="triangle"></div>

<!-- <div class="button-start">
    <a href="">START</a>
</div> -->
<a href="http://127.0.0.1:8000/game/">START</a>
<div class="statement">
    
	<div class="extra-triangle"></div>
	<div class="title">BOGGLE</div>
</div>