<html>
    {% load static %}
    <head>
        <meta name = "viewport" content ="width=device-width, initial scale=1.0">
        <title>348713_SOSA</title>
        <link rel = "stylesheet" type = "text/css" href="{% static 'styles/main.css' %}">
    </head>
    <body>
    
        <div class = "TitleContainer">
            <h1 data-heading="Slide">BOGGLE</h1>
        </div>

        <div class = "BottomContainer">
            <button id="openModal" class="corner-button">Start</button>
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span id="closeModal" class="close">&times;</span>
                <div class = "HelloContainer">
                    <h2>Bienvenidos!</h2>
                    <h3>Reglas del juego:</h3>
                    <h3>1.- El juego esta diseñado para dos jugadores, cada uno debe de elegir su alias.</h3>
                    <h3>2.- Cada juagador dispone de 1:30 para encontrar todas las palabras posibles</h3>
                    <h3>3.- La palabra que sea seleccionada por los jugadores solo podrá ser elegida una vez!</h3>
                </div>
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Alias Jugador 1</span>
                        <input type = "text" name ="salary" placeholder="Ejemplo: GatoFeli" >
                    </div>

                    <div class="input-box">
                        <span class="details">Alias Jugador 2</span>
                        <input type = "text" name ="salary" placeholder="Ejemplo: Andres123" >
                    </div>
                </div>
            </div>
        </div>
    
        <audio id="myAudio"> 
            <source src="{% static 'audio/Song.mp3' %}" type="audio/mpeg">
        </audio>
        
        <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("openModal");

        // Get the <span> element that closes the modal
        var span = document.getElementById("closeModal");

        // Get the audio element
        var audio = document.getElementById("myAudio");

        // When the user clicks the button, open the modal and play the audio
        btn.onclick = function() {
        modal.style.display = "block";
        audio.play();
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
        </script>
    </body>
</html>