{% load static %}
<head>
    <meta name = "viewport" content ="width=device-width, initial scale=1.0">
    <title>348713_SOSA</title>
    <link rel = "stylesheet" type = "text/css" href="{% static 'styles/particles.css' %}">
</head>

<body>
    <div id="particles-js"></div>
    <div class = "general-container" >
        <!-- Contenedor 1 -->
        <div class = "title-container">
            <h1>Jugador: Benito Camela</h1>
        </div>

        <div class = "information-player-container">
            <div class="clock">
                <div id="minutes">
                    1
                </div>
                <span>:</span>
                <div id="seconds">
                    30
                </div>

            </div>
        </div>

        <div class = "body-game-container">
            <!-- Tablero -->
            <table class="boggle-board">
                {% for row in board %}
                  <tr>
                    {% for cell in row %}
                      <td class="boggle-cell"><button>{{ cell }}</button></td>
                    {% endfor %}
                  </tr>
                {% endfor %}
            </table>
            <script>
                const botones = document.querySelectorAll('.boggle-board button');

                let seleccionando = false; // Indica si se está seleccionando o no

                // Agregar un controlador de eventos de clic a cada botón
                botones.forEach(boton => {
                boton.addEventListener('mousedown', () => {
                    seleccionando = true; // Se empieza a seleccionar
                    boton.classList.add('seleccionado'); // Seleccionar la casilla actual
                });

                boton.addEventListener('mouseenter', () => {
                    if (seleccionando) {
                    boton.classList.add('seleccionado'); // Seleccionar la casilla actual
                    }
                });

                boton.addEventListener('mouseup', () => {
                    seleccionando = false; // Se deja de seleccionar
                    botones.forEach(boton => {
                    boton.classList.remove('seleccionado'); // Deseleccionar todas las casillas
                    });
                });
                });
            </script>
            <!-- Score -->
            <table class = "score">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Puntuación</th>
                    <th>Fecha de la partida</th>
                    <th>Modo</th>
                    <th>Potenciadores</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>María</td>
                        <td>25</td>
                        <td>15/04/2023</td>
                        <td>Modo fácil</td>
                        <td>Ninguno</td>
                      </tr>
                      
                      <tr>
                        <td>Pedro</td>
                        <td>30</td>
                        <td>12/04/2023</td>
                        <td>Modo difícil</td>
                        <td>Velocidad</td>
                      </tr>
                      
                      <tr>
                        <td>Lucía</td>
                        <td>27</td>
                        <td>10/04/2023</td>
                        <td>Modo normal</td>
                        <td>Escudo, Vida extra</td>
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
    

    <!-- Scripts -->
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://kit.fontawesome.com/a2e8d0339c.js"></script>
</body>
</html>